[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.39.0"
pandas = "*"
altair = "*"
numpy = "*"
streamlit-aggrid = "*"
extracttable = "*"
pillow = "*"
opencv-python-headless = "*"
records = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
watchdog = "*"

[requires]
python_version = "3.9"
